.auth {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 182px;
	width: 100%;
	max-width: 1640px;

	.form {
		border-radius: 70px;
		width: 100%;
		max-width: 870px;
		min-height: 870px;
		backdrop-filter: blur(4px);
		background: rgba(132, 132, 132, 0.3);

		padding: 60px;
	}
}
