.wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.contentMain {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.contentItems {
			display: flex;
			flex-direction: column;
		}
	}
}
