$--main-000: #fff;
$--main-white-000: #fff;
$--main-200: #dadada;
$--main-400: #acacac;
$--main-500: #878787;
$--main-550: #909090;
$--main-600: #6d6d6d;
$--main-700: #585858;
$--main-800: #2f2f2f;
$--main-black-850: #282828;
$--main-900: #1f1f1f;
$--main-950: #161616;
$--main-black-1000: #000000;

$--main-accent-100: #60706c;
$--main-accent-600: #059669;
$--main-accent-700: #047857;
$--main-accent-800: #065846;
$--main-accent-900: #064e3b;
$--main-accent-950: #022c22;

$--attention-yellow-50: #fdf7e6;
$--attention-yellow-100: #fcf2d9;
$--attention-yellow-200: #f9e5b1;
$--attention-yellow-300: #ecab03;
$--attention-yellow-400: #d49a03;
$--attention-yellow-500: #bd8902;
$--attention-yellow-600: #b18002;
$--attention-yellow-700: #8e6702;
$--attention-yellow-800: #6a4d01;
$--attention-yellow-900: #533c01;

$--error-red-50: #f9e9e9;
$--error-red-100: #edbcbc;
$--error-red-200: #e49b9b;
$--error-red-300: #d86e6e;
$--error-red-400: #d15151;
$--error-red-500: #c52626;
$--error-red-600: #b32323;
$--error-red-700: #8c1b1b;
$--error-red-800: #6c1515;
$--error-red-900: #531010;

$--inter-font: 'Inter', sans-serif;
$--montserrat-font: 'Montserrat', sans-serif;
$--open-sans-font: 'Open Sans', sans-serif;
$--font-family: 'Benzin', sans-serif;
