.formTitle {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 39px;
	text-decoration: none;


	.titleLeft {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 32px;
		line-height: 131%;
		color: #fff;
	}
	.titleRight {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 44px;
		text-align: center;
		color: #fff;
		text-decoration: none;
	}
}
