.preferItem {
	border: 1px solid #fff;
	border-radius: 100px;
	padding: 17px 25px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	color: #f7f7f7;

	cursor: pointer;
}
